<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
   
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="container" id="creditContainer">
        
        <p>Hecho con  <span style="color: red; font-size: 100px;">&hearts;</span>  en Express.js</p>
    </div>
    

    <%- include('./partials/menu') %>

  </body>
</html>