<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="container" id="homeContainer">
      <p>Welcome to <%= mesg %></p>
    </div>
   
    <%- include('./partials/menu') %>

  </body>
</html>
